/* font sans from google */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
/* font sans from google */

/* shared style */
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}

.btn-primary{
    background: #FF900E;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;

}
/* shared style */

/* header style start here */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 40px;
    margin-bottom: 40px;
}
nav{
    display: flex;
    padding: 10px 128px;
    justify-content: space-between;
    align-items: center;
}
nav div{
    text-align: center;
    font-size: 2rem ;
    font-weight: 700;
}
nav>ul{
    display: flex;
}
nav>ul li{
    list-style: none;
    margin-right: 20px;
}
nav>ul a{
    text-decoration: none;
    color: #424242;
}

.h-banner{
    text-align: center;
    padding: 0px 40px;
}
.h-text{
    padding: 0px 200px;
}
.h-text>h1{
    font-size: 3rem;
    font-weight: 700;
}
.h-banner img{
    width: 100%;
    padding-top: 40px; 
}

/* header style end here */
/* main style start here */
        /* features  */
.feature{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    
}  
/* .feature .img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    row-gap: 15px;
}     */

/* main style end here */

/* footer style start here */
footer{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
footer .text{
    padding: 0px 300px;
}
footer .pic{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    gap: 50px;
    margin:10px 0 20px;
}
.pic img{
    width: 100%;
}
footer .copyright{
    border-radius:10px;
    background: #FFF4E7;
    height: 80px;
    font-size: 1.2rem;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer style end here */


/* media query style for small device*/
@media screen and (max-width: 576px) {
    nav,
    .feature{
        flex-direction: column;
    }
    .h-text{
        padding: 0px 10px;
    }

    .feature{
        column-gap: 0px;
        
    }
    .feature .text{
        text-align: justify;
        margin: 0 auto;
    }
    .feature .btn-primary{
        display: block;
        margin: 0 auto;
    }


    footer .text{
        padding: 0px 10px
    }
    footer .pic{
        gap: 20px
    }
}




/* media query style for medium device*/
@media screen and (min-width: 576px) and (max-width: 992px){
    nav{
        flex-direction: column;
    }
    .h-text{
        padding: 10px 20px;
    }

    
    footer .text{
        padding: 0px 20px
    }
    
}